*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem ;
    background-color: aqua;
    border-radius: 0.5rem;
    box-shadow: 0 15px 15px 0 grey;
}

.card h2{
    font-size: 2rem;
    color: black;
}

.card p{
    font-weight: 700;
}

.red-alert{
    background-color: red;
}